* {
    font-family: sans-serif;
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
}

.main {
    overflow-x: hidden;
}

:root {
    --royal-blue: #1c88ba;
    --dark-blue: #0c76b7;
}
